h1{
    text-align: center;
    color: whitesmoke;
}

h2{
    text-align: center;
    color: whitesmoke;
}

body{
    font-family:sans-serif; 
    background:#eee;
    background-image: url(books.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    margin-left:-260px;   
}

.field{
    max-width: 350px;
    text-align: center;
    margin: auto;
    max-height:500px;
    border:none; 
}

.field footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight:bolder;
}

.field input[type="email"],
.field input[type="text"],
.field input[type="password"]{
    padding: 9px;
    width:90%;
    font-size:14px;
    border-radius:6px;
}

.field legend{
    font-size:16px;
    font-weight:bold; 
}

.field input[type="submit"], .field input[type="button"]{
    padding:8px;
    width: 100%;
    font-size:16px;
    border:0px;
    border-radius:6px;
    cursor:pointer;
    margin-top:12px;
    background-color:whitesmoke;     
}


p,label{
    color: whitesmoke;
}

.field legend{
    color: whitesmoke;
}

.field input[type="submit"]:hover, .field input[type="button"]:hover{
    font-size: 20px;
}

a{
    color:whitesmoke;
    text-shadow: 2px 2px 2px blue;
}
