h1{
    text-align: center;
    color: whitesmoke;
}

h2{
    text-align: center;
    color: whitesmoke;
}

body{
    font-family:sans-serif; 
    background:#eee;
    background-image: url(books.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;
    background-attachment: fixed;
    margin-left:-260px;   
}

.field{
    max-width: 350px;
    text-align: center;
    margin: auto;
}

.field footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight:bolder;
}

.field input[type="email"],
.field input[type="text"],
.field input[type="password"]{
    padding: 10px;
    width:90%;
    font-size:14px; 
}

.field legend{
    font-size:16px;
    font-weight:bold; 
}

.field input[type="submit"]{
    padding:12px;
    width: 100%;
    font-size:16px;  
}

p,a,label{
    color: whitesmoke;
}

.field legend{
    color: whitesmoke;
}