

.field input[type="submit"], .field input[type="button"]{
    font-size:10px;
    border:0px;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;     
}


p,a,label{
    color: whitesmoke;
}

.field legend{
    color: whitesmoke;
}

SELECT, INPUT[type="text"] {
    width: 140px;
    box-sizing: border-box;
}
SECTION {
    padding: 5px;
    background-color: transparent;
    overflow: auto;
}
SECTION > DIV {
    float: left;
    padding: 4px;
}
SECTION > DIV + DIV {
    
    width: 30px;
    text-align: center;

