body{
    background-color: darkgrey;
    background:url(../imagens/book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#fundologin{
    background-color: black;
    width: 100%;
    height: 50px;
}